<section class="about-us-section section">
  <div class="about-us-container container">
    <div class="about-us-text-container">
      <h2 class="about-us-title">Potential +: хто ми?</h2>
      <p class="about-us-text">
        Ми, Potential +, спеціалізуємось на професійному наданні послуг у сфері
        рекрутингу, спрямованих на задоволення потреб бізнесу у якісному
        персоналі та оптимізації HR-процесів.
      </p>
    </div>

    <img class="about-us-img" src="../img/about-us/about-us-min.png" alt="" />
  </div>
</section>
