<section class="faq-section">
  <div class="faq-container container">
    <h2 class="faq-title">Часті запитання</h2>
    <p class="faq-text">Відповідаємо на Ваші найпоширеніші запитання.</p>

    <ul class="faq-list">
      <li class="faq-item">
        <div class="faq-question-container">
          <h3 class="faq-question">
            <button class="faq-question-text" type="button">
              Які терміни закриття вакансій?
              <svg class="faq-acc-svg" width="32" height="32">
                <use
                  class="icon-arrow-up-down"
                  href="./img/faq/sprite.svg#icon-faq-btn"
                ></use>
              </svg>
            </button>
          </h3>
        </div>

        <div class="faq-answer">
          <p class="faq-answer-text">
            Терміни узгоджуються індивідуально, середній час закриття вакансії
            20 календарних днів для стандартних посад, 60 - для топ-позицій.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <div class="faq-question-container">
          <h3 class="faq-question">
            <button class="faq-question-text" type="button">
              Як гарантується якість підбору?
              <svg class="faq-acc-svg" width="32" height="32">
                <use
                  class="icon-arrow-up-down"
                  href="./img/faq/sprite.svg#icon-faq-btn"
                ></use>
              </svg>
            </button>
          </h3>
        </div>

        <div class="faq-answer">
          <p class="faq-answer-text">
            Діє гарантійний період на кожного працівника, забезпечення заміни у
            разі потреби.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <div class="faq-question-container">
          <h3 class="faq-question">
            <button class="faq-question-text" type="button">
              Чи допомагаєте з оформленням документів
              <svg class="faq-acc-svg" width="32" height="32">
                <use
                  class="icon-arrow-up-down"
                  href="./img/faq/sprite.svg#icon-faq-btn"
                ></use>
              </svg>
            </button>
          </h3>
        </div>

        <div class="faq-answer">
          <p class="faq-answer-text">Так, допомагаємо.</p>
        </div>
      </li>
      <li class="faq-item">
        <div class="faq-question-container">
          <h3 class="faq-question">
            <button class="faq-question-text" type="button">
              Які сервіси використовуєте для пошуку кандидатів?
              <svg class="faq-acc-svg" width="32" height="32">
                <use
                  class="icon-arrow-up-down"
                  href="./img/faq/sprite.svg#icon-faq-btn"
                ></use>
              </svg>
            </button>
          </h3>
        </div>

        <div class="faq-answer">
          <p class="faq-answer-text">
            У нас є велика база кандидатів, яку постійно поповнюємо.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
