<!-- <section class="footer" id="footer">
  <div class="footer-container container">
    <ul>
      <li></li>
      <li></li>
    </ul>
  </div>
</section> -->

<section class="footer" id="footer">
  <div class="footer-container container">
    <div class="title-container">
      <h2 class="footer-title">Готові до змін?</h2>
      <p class="footer-text">
        Не витрачайте більше часу на неефективні процеси. Зв'яжіться з нами
        сьогодні, щоб дізнатися, як ми можемо допомогти Вашим HR-відділам
        досягти успіху.
      </p>
    </div>
    <!-- ========== FORM =========== -->
    <form action="#" class="wt-form">
      <div class="form-container-wt">
        <div class="contact-wt">
          <div class="email-test-message">
            <input
              type="email"
              class="wt-email-input"
              id="email"
              placeholder="clients@gmail.com"
              required
            />
            <span class="wt-error-message"
              >Невалідний емейл, спробуйте знову!</span
            >
          </div>
          <input
            type="tel"
            class="wt-phone-input"
            id="phone"
            placeholder="+380XXXXXXXXX"
            required
          />
        </div>
        <button class="btn-wt" type="submit">Відправити</button>
      </div>
    </form>
    <!-- ========= LINK ====== -->
    <div class="container-link-wt container">
      <h3 class="contacts-title">Наші контакти:</h3>
      <div class="links-container">
        <ul class="links-list">
          <li class="links-list-item">
            <a class="link-email-wt" href="mailto:email@gmail.com"
              >email@gmail.com</a
            >
          </li>
          <li class="links-list-item">
            <a class="link-tel-wt" href="tel:+380731455235">+380731455235</a>
          </li>
          <li class="links-list-item">
            <a class="link-tel-wt" href="tel:+380671425235">+380671425235</a>
          </li>
          <li class="links-list-item">
            <a class="link-tel-wt" href="tel:+380663521010">+380663521010</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- ================ MODAL =============== -->
<div class="backdrop-wt">
  <div class="modal-wt">
    <button type="button" class="modal-close-btn-wt">
      <svg class="modal-close-img-wt" width="22" height="22">
        <use href="/img/icons/icons.svg#icon-x"></use>
      </svg>
    </button>
    <h3 class="modal-title-wt">Дякуємо за Вашу увагу щодо співпраці!</h3>
    <p class="modal-text-wt">
      Наш менеджер найближчим часом сконтактує з Вами, щоб обговорити деталі та
      можливості співпраці.
    </p>
  </div>
</div>
