<section class="hero-section section" id="hero">
  <div class="hero-container container">
    <h1 class="hero-title">Підбір талантів для розвитку вашого бізнесу</h1>
    <p class="hero-text-first">Індивідуальні рішення для ефективного HR</p>
    <p class="hero-text-second">
      Консультації та підбір персоналу для зростання
    </p>
    <div>
      <svg class="hero-icon-first" width="24" height="24">
        <use href="/img/icons/arrow-right-circle.svg"></use>
      </svg>
      <div class="hero-link-container">
        <a class="hero-link" href="./#footer">Записатися на консультацію</a>
      </div>

      <svg class="hero-icon-second" width="24" height="24">
        <use href="/img/icons/keyboard-arrow-right.svg"></use>
      </svg>
    </div>
  </div>
</section>
