<section class="our-team-section">
  <div class="our-team-container container">
    <h2 class="our-team-title">Наша команда</h2>
    <ul class="team-list">
      <li class="team-list-item">
        <h3 class="team-member-title">
          Керівник проєкту: Тітєй Аріна Олександрівна
        </h3>
        <img
          class="team-list-img"
          srcset="
            /img/our-team/image-1-min.png 1x,
            /img/our-team/image-1-min.png 2x
          "
          src="/img/our-team/image-1-min.png"
          alt="Тітєй Аріна фото"
          width="264"
          height="260"
        />
        <p class="team-member-description">
          Відповідає за загальну координацію проєкту, комунікацію з клієнтом та
          контроль виконання етапів. Вдосконалює роботу відділу рекрутингу,
          адаптує його до потреб бізнес-клієнта та підвищує його ефективність.
          Проводить навчання та наставництво для рекрутера, формуючи його
          навички з нуля.
        </p>
      </li>
      <li class="team-list-item">
        <h3 class="team-member-title">
          Менеджер з продажу: Чуприна Максим Геннадійович
        </h3>
        <img
          class="team-list-img"
          srcset="
            /img/our-team/image-2-min.png 1x,
            /img/our-team/image-2-min.png 2x
          "
          src="/img/our-team/image-2-min.png"
          alt="Чуприна Максим фото"
          width="264"
          height="260"
        />
        <p class="team-member-description">
          Відповідає за презентацію послуг компанії, проводить вступну зустріч,
          підготовлює матеріали та комерційну пропозицію, забезпечуючи детальну
          консультацію щодо наших продуктів і способів співпраці.
        </p>
      </li>
      <li class="team-list-item">
        <h3 class="team-member-title">Рекрутер: Герчук Ірина Василівна</h3>
        <img
          class="team-list-img"
          srcset="
            /img/our-team/image-3-min.png 1x,
            /img/our-team/image-3-min.png 2x
          "
          src="/img/our-team/image-3-min.png"
          alt="Герчук Ірина фото"
          width="264"
          height="260"
        />
        <p class="team-member-description">
          Відповідальна за пошук і відбір кандидатів, організацію співбесід та
          супровід процесу найму.
        </p>
      </li>
      <li class="team-list-item">
        <h3 class="team-member-title">
          Фінансовий відділ: Бондар Андрій Ігорович
        </h3>
        <img
          class="team-list-img"
          srcset="
            /img/our-team/image-4-min.png 1x,
            /img/our-team/image-4-min.png 2x
          "
          src="/img/our-team/image-4-min.png"
          alt="Бондар Андрій фото"
          width="264"
          height="260"
        />
        <p class="team-member-description">
          Веде облік усіх операцій, забезпечує контроль дотримання бюджету та
          термінів оплати.
        </p>
      </li>
    </ul>
  </div>
</section>
