.hero-section {
  position: relative;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/img/hero/hero-image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #cdc4c4;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-text-first,
.hero-text-second {
  font-size: 24px;
  line-height: 1.2;
}

.hero-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-link {
  font-size: 24px;
  background-color: #51722f;
  color: #cdc4c4;
  border: none;
  border-radius: 30px;
  padding: 15px;
  margin: 0 auto;
}

.hero-link:hover {
  background-color: #519e04;
}

.hero-link:focus {
  background-color: #9ff44a;
  color: #8e8b8b;
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
  }
  .hero-title {
    font-size: 90px;
    padding-top: 300px;
    padding-bottom: 187px;
    text-align: center;
  }

  .hero-text-first,
  .hero-text-second {
    font-size: 32px;
    line-height: 1.2;
  }

  .hero-link {
    font-size: 32px;
    padding: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    max-width: 1440px;
  }
  .hero-title {
    padding-top: 85px;
    padding-bottom: 190px;
    padding-left: 146px;
    padding-right: 146px;
  }

  .hero-text-first,
  .hero-text-second {
    font-size: 48px;
    text-align: center;
  }

  .hero-link {
    font-size: 38px;
    padding: 25px;
  }
}
